body{
  background-repeat: no-repeat;
  background-image: linear-gradient(cadetblue, pink, white);
}
.heding {
  text-align: center;
}
.heding{
  text-shadow: aqua 5px 5px 5px;
}
button{
  width: 300px;
  height: 44px;
  border-radius: 23px;
  margin: 20px;
  background-color: cadetblue;
}
button:hover{
  background-color: aqua;
}
.buttonbox{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.classcompo{
  text-align: center;
  width: 555px;
  height: 270px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: blueviolet;
  position: absolute;
  top: 300px;
  left: 860px;
}
.funcompo{
  text-align: center;
  width: 650px;
  height: 270px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 35px;
  margin-top: 100px;
  margin-left: 130px;
}
